@charset "UTF-8";

@font-face{
    font-family: 'Wondar Quason';
    src: url('./font/WondarQuasonFree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#f7bec2;
    --second-color:#7caeb7;
    --accent-color: #55C579;
    --fundo: #fff;
}


body {
    font-family: 'Wondar Quason', sans-serif;
    line-height: 1.5em;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    box-shadow: 2px 2px solid black;
}

nav#menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
}


nav#menu a {
    text-decoration:none;
    color: var(--second-color);
    border-radius: 5px;
    padding: 8px 15px ;
    transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
    background-color: var(--second-color);
    color: var(--fundo);
    
}

#whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
}

/*Hero Section*/

.hero-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    min-height: 100vh;
}

.logo {
    width: 100%;
}

/*Servicos section*/






/*About-me section*/





/*Footer*/

footer {
    color: var(--second-color);
    text-align: center;
    padding: 15px;
}

/* Animação de Fade-in para Elementos (usada com JS) */
.fade-in-on-scroll {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInLoad {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
.initial-fade-in {
            /* Aplica a animação: nome, duração, suavização e mantém o estado final (forwards) */
            animation: fadeInLoad 1.5s ease-out forwards;
        }