@charset "UTF-8";

@font-face{
    font-family: 'Wondar Quason';
    src: url('./font/WondarQuasonFree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#f7bec2;
    --second-color:#7caeb7;
}
html {
    scroll-behavior: smooth;
}

body {
    width:100%;
    height:100vh;
    font-family: 'Wondar Quason', sans-serif;
    
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 0 auto;
    min-height: 100vh;
}

/*Hero Section*/

.hero-intro {
    display: grid;
    grid-template-rows: 1fr 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    grid-area: 1 / 1 / 2 / -1 ;
    text-align: center;
}

.logo {
    grid-area: 1 / 1 / 2 / 1;
    width: 100%;
    height:500px;
    top: 0;
}

span {
    color: #7caeb7;
}

.hero-intro p {
    padding-top: 10px;
}

.cta-button {
    padding-top:30px;
}


/*Servicos section*/

.servicos {
    background-color: green;
    grid-area: 2 / 1 / 3 / -1;
}


/*About-me section*/

.about-me {
    background-color: red;
    grid-area: 3 / 1 / 4 / -1;
}

/*outros section*/

.outros {
    background-color: aqua;
    grid-area: 4 / 1 / 5 / -1;
}


/*Footer*/

footer{
    background-color: brown;
    grid-area: 5 / 1 / 5 / -1;
}