@charset "UTF-8";

@font-face{
    font-family: 'Wondar Quason';
    src: url('./font/WondarQuasonFree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#f7bec2;
    --second-color:#7caeb7;
}
html {
    scroll-behavior: smooth;
}

body {
    width:100%;
    height:100vh;
    font-family: 'Wondar Quason', sans-serif;
    background-image:url(../images/fundo2.png);
}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    margin: 0 auto;
    min-height: 100vh;
    background-size: cover;
}

/*Hero Section*/

.hero-intro {
    display: grid;
    grid-template-rows: 1fr 1fr;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    grid-area: 1 / 1 / 2 / -1 ;
    padding: 10px;
    text-align: center;
}

.logo {
    grid-area: 1 / 1 / 2 / 1;
    width: 100%;
    height:500px;
}

span {
    color: #7caeb7;
}

.hero-intro p {
    padding-top: 10px;
}

.cta-button {
    padding-top:30px;
}

.servicos {
    background-color: green;
}

.about-me {
    background-color: red;
}

.outross {
    
}